body {
    background-image: url(./src/bpiscina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.full-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-chrono {
    width: 600px;
    height: 600px;
    position: relative;
}
.chrono {
    position: absolute;
    z-index: 5;
}
.buttons {
    position: absolute;
    z-index: 6;
    width: 96px;
    height: 95px;
    padding: 0;
    background-image: url(./src/lbutton.png);
    background-color: #27272700;
    background-repeat: no-repeat;
    border: 0;
    /*transition: transform 0.1s;*/
}
.buttons:hover {
    background-image: url(./src/lbuttonS.png);
}
.buttons[data-type="space"] {
    transform: translate(89px, 38px);
}
.buttons[data-type="c"] {
    transform: scaleX(-1) translate(-394px, 38px);
}
.buttons[data-type="space"]:active {
    transform: translate(99px, 48px);
    /*z-index: 4;*/
}
.buttons[data-type="c"]:active {
    /*z-index: 4;*/
    transform: scaleX(-1) translate(-384px,48px);
}

/*ICONS*/
.fa {
    position: absolute;
    z-index: 10;
    transform: translate(var(--x), var(--y));
    color: #272727;
    text-shadow: 0px 0px 5px #8f8f8f;
}
.fa[data-type="flag"] {
    --x: 386px;
    --y: 104px;
}
.fa[data-type="reset"] {
    --x: 412px;
    --y: 125px;
}
.fa[data-type="pause"] {
    --x: 178px;
    --y: 104px;
}
.fa[data-type="play"] {
    --x: 155px;
    --y: 125px;
}

/*KEYS*/
.key {
    position: absolute;
    transform: translate(var(--kx), var(--ky));
    color: #ffffff;
    font: bold 15px arial;
    text-align: center;
    margin: 10px auto;
    padding: 7.5px 12.5px;
    background: #646566;
    border-radius: 4px;
    border-top: 1px solid #4d4b4b;
    box-shadow: inset 0 0 25px #b6b4b4, 0 1px 0 #8d8b8b, 0 2px 0 #999393, 0 2px 3px #333;
    text-shadow: 0px 1px 0px #969494;
}
.key[data-type="space"] {
    --kx: 55px;
    --ky: 35px;
}
.key[data-type="space"]:after {
    content: "SPACE";
}
.key[data-type="c"] {
    --kx: 460px;
    --ky: 35px;
}
.key[data-type="c"]:after {
    content: "c"; 
}
/*DISPLAY AND NUMBER*/
.display {
    display: flex;
    gap: 1px;
    width: 267px;
    height: 75px;
    position: absolute;
    transform: translate(156px, 200px);
    z-index: 10;
}
.display > i {
    background-image: url(./src/numbers3.png);
    background-repeat: no-repeat;
}

.dots {
    width: 10%;
    background-position: -473px;
}
.dot {
    width: 10%;
    background-position: -490px;
}
.number0 {
    width: 30%;
    background-position: -5.5px;
}
.number1 {
    width: 30%;
    background-position: -52px;
}
.number2 {
    width: 30%;
    background-position: -99px;
}
.number3 {
    width: 30%;
    background-position: -147px;
}
.number4 {
    width: 30%;
    background-position: -193px;
}
.number5 {
    width: 30%;
    background-position: -240.5px;
}
.number6 {
    width: 30%;
    background-position: -287.5px;
}
.number7 {
    width: 30%;
    background-position: -334px;
}
.number8 {
    width: 30%;
    background-position: -381.5px;
}
.number9 {
    width: 30%;
    background-position: -429px;
}

/*SCOREBOARD*/
#scoreboard {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    position: absolute;
    z-index: 10;
    transform: translate(188px, 285px);
    width: 192px;
    height: 57px;
    border: #2727279d solid 2px;
    padding: 4px;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
}
#scoreboard::-webkit-scrollbar {
    width: 3px;
}
#scoreboard::-webkit-scrollbar-track {
    background: #27272700;
}
#scoreboard::-webkit-scrollbar-thumb {
    background: #272727;
    border-radius: 5px;
}